* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #010101;
  color:#fff;
  list-style-type: none;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}
.header {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.sec-one {
  height: 100vh;
  background: url('../assets/img/bg_01.jpg') no-repeat;
  background-size: cover;
}
a {
  list-style: none;
  color: #fff;
  text-decoration: none;
}
a:visited {
  color: #FFCA98; 
}
a:active {
  color: #DD8C40; 
}
ul li {
  list-style: none;
}
.header-nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav__list-item {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  font-family: 'Montserrat';
  color: #fff;
  padding-left: 210px;
}
.title {
  font-family: 'PT Serif', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 85px;
  text-transform: uppercase;
  color: #fff;
  padding-top: 450px;
  padding-left: 180px;
}
.text {
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  text-transform: lowercase;
}

